/* Override styles for all versions of IE (except IE 10, which ignores conditional comments)

 * Import this file using the following HTML conditional comment:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
select {
  padding: 0.625rem;
  background: #fff;
}

input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
.no-touch input[type=checkbox]:checked:hover,
input[type=radio]:checked,
.no-touch input[type=radio]:checked:hover,
.no-touch input[type=checkbox]:hover,
.no-touch input[type=radio]:hover {
  top: 0.125rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
