<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>Ruckus Wireless</title>
<link rel="stylesheet" href="css/layout1.css">
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/ie_lt9.css">
<link rel="stylesheet" href="css/ie_not.css">
<link rel="stylesheet" href="css/ie.css">
</head>
<body>
<div class="loginDiv">
  <div class="loginContainer">
    <div class="loginInputContainer">
      <div style="border-radius:8px;overflow: hidden;text-align:center;" class="panel rounded white no_pad">
        <div class="loginLogo"></div>
        <div class="loginACE"></div>
        <input type="" style="padding-left: 35px;margin:10px;" class="loginTxtUName ng-valid ng-dirty ng-pristine" ng-change="textBoxIsEditing()" ng-model="loginTxtUName">
        <input type="password" style="padding-left: 35px;margin:10px;" class="loginTxtPWord ng-valid ng-dirty ng-pristine" ng-change="textBoxIsEditing()" ng-model="loginTxtPWord">
        <div ng-click="actionForValidateLoginCredentials()" class="button" id="loginButton">Log In</div>
      </div>
      <!--<div class="loginFooter">@2015 Aruba Networks, Inc.</div>--> 
    </div>
  </div>
</div>
</body>
</html>