<div class="overlay light open" ng-show="showsettingconfirm">

    <div class="message confirmation">

      <p>{{confirm_message}}</p>
      <div class="controls">
        <a class="large button secondary" href="javascript:void(0)" ng-click="close_confirm('yes')">Yes</a>
        <a class="large button" href="javascript:void(0)" ng-click="close_confirm('no')">No</a>
      </div>
      
    </div>
    
</div>


<div id="device_container">
  <div class="main-section-content foundation-row row">
    <div class="section-header-content row collapse">
      <div class="section-header medium-6 columns">
        <h1>
          <label> <span id="reports_net_summary_header">Settings</span> </label>
        </h1>
      </div>
    </div>
    <div id="accordion-container" class="accordion-container">
      <div id="accordion-section-1" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'email'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('email')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">Email</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'email'">
        <div class="row">
          <div class="section-left-content large-6 columns">
            <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading"> Email Setting</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>Gateway</th>
                        <th>SSL/TLS Port</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="gateway">{{scg_email_setting.smtp.smtpgateway}}</td>
                        <td class="port">{{scg_email_setting.smtp.port}}</td>
                        <td class="action"><a class="icosolo icon_edit" href="#"></a> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="section-left-content large-6 columns">
            <div class="forms">
              <h4>Email Test</h4>
              <div class="inputs cf">
                <div class="small-9 medium-10 columns no-pad">
                  <input class="addon" type="text">
                </div>
                <div class="small-3 medium-2 columns no-pad"> <a class="addon button">Send</a> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="section-left-content large-6 columns">
            <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">Receivers Email Setting</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
			<th>#</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="reciever in scg_email_setting.emails">
			<td class="number">{{$index + 1}}</td>
                        <td class="name">{{reciever.ReceiverId}}</td>
                        <td class="location">{{reciever.PhoneNumber}}</td>
                        <td class="action">
				<a class="icosolo icon_edit" href="#"></a> 
				<a class="icosolo icon_delete delete" href="#"></a>
			</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
              <div class="button-container"> <a class="button" href="#">Add Receiver</a> </div>
            </div>
          </div>
          <div class="section-left-content large-6 columns">
            <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading"> Sender Email Setting</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="name">{{scg_email_setting.smtp.sender_id}}</td>
                        <td class="location">{{scg_email_setting.smtp.password}}</td>
                        <td class="action"><a class="icosolo icon_edit" href="#"></a> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion-section-2" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'ftp'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('ftp')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">FTP/TFTP</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'ftp'">
        <div class="row">
          <div class="section-left-content large-6 columns">
            <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading"> Sender Email Setting</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>Services</th>
                        <th>Option (Start/Stop/Restart)</th>
                        <th>Path</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="name">TFTP</td>
                        <td class="option">
				<ul class="seggyc">
      					<li ng-class="{current:scg_ftp_setting.status == 'notrunning'}" ng-click="global_menu('5')"><a  href="javascript:void(0)">Start</a></li>
      					<li ng-class="{current:scg_ftp_setting.status == 'running'}" ng-click="global_menu('15')"><a  href="javascript:void(0)">Stop</a></li>
					<li ng-class="{current:scg_ftp_setting.status == 'unknown'}" ng-click="global_menu('15')"><a  href="javascript:void(0)">Restart</a></li>
				</ul>
			</td>
                        <td class="location"> /tftpboot </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="section-left-content large-6 columns">
            <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">Path Containing Files</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
			<th>#</th>
                        <th>File Name</th>
                        <th>File Size (Bytes)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="file in scg_ftp_setting.files">
			<td class="number">{{$index + 1}}</td>
                        <td class="filename">{{file.name}}</td>
                        <td class="filesize">{{file.size}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	<!-- Email setting ends here-->
	<!-- Swatch setting starts here-->
      <div id="accordion-section-4" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'swatch'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('swatch')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">Swatch configuration</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'swatch'">
        <div class="row">
        
        <div class="section-left-content large-12 columns">  
          <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">Swatch Configuration</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>RegEx</th>                       
                        <th class="actions">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="d in scg_swatch_config">
                        <td class="number">{{$index + 1}}</td>
                        <td class="swatch">{{d.RegEx}}</td>
                  	<td class="actions">
				<a class="icosolo icon_edit" ng-click="show_update_popup(d.RegexID,d.RegEx,'','showswatchpopup')" href="#"></a> 
				<a class="icosolo icon_delete delete" ng-click="delete_swatch(d.RegexID,d.RegEx)" href="#"></a>
			</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
	<div class="button-container"> <a class="button" ng-click="show_update_popup('','','','showswatchpopup')" href="#">Add Swatch</a> </div>





    <div class="overlay heavy open" ng-show="showswatchpopup">
	<a class="icosolo icon_close" ng-click="close_edit_popup('showswatchpopup')"></a> 
  	<div class="message swatch">
	<div class="panel_wrapper">   
	<div class="panel rounded no_pad white">
	<div class="tabs fullwidth">
	<div class="tab">
            <div class="forms">
              <div class="inputs cf">

                <div class="row">
                  <label class="small-12 medium-2 medium-offset-2 columns">Event:</label>
                  <div class="small-12 medium-6 pull-2 columns"><input type="text" ng-model="swatch_value" ></div>
                </div>

                <div class="small-12 medium-8 medium-offset-4 columns">
			<a class="large button" ng-click="add_edit_swatch()" href="#">Add Swatch</a>
		</div>
              </div>
            </div>   
	</div>  
	</div>
	</div>
	</div>
	</div>
     </div> 






            </div>
          </div>
          
  
          
          
        </div>
      </div>

	<!-- Swatch setting ends here-->
	<!-- Event setting starts here-->
      <div id="accordion-section-5" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'event'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('event')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">Event configuration</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'event'">
        <div class="row">
          <div class="section-left-content large-12 columns">  
          <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">Event Configuration</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>RegEx</th>
                        <th>Severity</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="d in scg_event_config">
                        <td class="number">{{$index + 1}}</td>
                        <td class="regex">{{d.Regex}}</td>
                        <td class="severity">{{d.Severity}}</td>
                        <td class="actions">
				<a class="icosolo icon_edit" ng-click="show_update_popup(d.ID,d.Regex,d.Severity,'showeventpopup')" href="#"></a> 
				<a class="icosolo icon_delete delete" ng-click="delete_event(d.ID,d.Regex,d.Severity)" href="#"></a>
			</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
	      <div class="button-container"> 
		<a class="button" ng-click="show_update_popup('',d.Regex,d.Severity,'showeventpopup')" href="#">Add Event</a> 
	      </div>

    <div class="overlay heavy open" ng-show="showeventpopup">
	<a class="icosolo icon_close" ng-click="close_edit_popup('showeventpopup')"></a> 
  	<div class="message swatch">
	<div class="panel_wrapper">   
	<div class="panel rounded no_pad white">
	<div class="tabs fullwidth">
	<div class="tab">
            <div class="forms">
              <div class="inputs cf">

                <div class="row">
                  <label class="small-12 medium-2 medium-offset-2 columns">Event:</label>
                  <div class="small-12 medium-6 pull-2 columns"><input type="text" ng-model="event_value" ></div>
                </div>

                <div class="row">
                  <label class="small-12 medium-2 medium-offset-2 columns">Severity:</label>
                  <div class="small-12 medium-6 pull-2 columns">
			<select ng-model="even_severity">
    				<option value='High'>High</option>
    				<option value='Medium'>Medium</option>
    				<option value='Low'>Low</option>    				
			</select>

		  </div>
                </div>

                <div class="small-12 medium-8 medium-offset-4 columns">
			<a class="large button" ng-click="add_edit_event()" href="#">Update Event</a>
		</div>
              </div>
            </div>   
	</div>  
	</div>
	</div>
	</div>
	</div>
     </div> 

  

            </div>
          </div>
        </div>
      </div>

	<!-- Event setting ends here-->
	<!-- Log Alert setting starts here-->
      <div id="accordion-section-6" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'log'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('log')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">Log Alert configuration</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'log'">
        <div class="row">
          <div class="section-left-content large-12 columns">  
          <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">Log Alert Configuration</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>RegEx</th>
                        <th>Type</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="d in scg_log_alert">
                        <td class="number">{{$index + 1}}</td>
                        <td class="regex">{{d.RegEx}}</td>
                        <td class="type">{{d.Type}}</td>
                        <td class="actions">
				<a class="icosolo icon_edit" ng-click="show_update_popup(d.ID,d.RegEx,d.Type,'showlogpopup')" href="#"></a> 
				<a class="icosolo icon_delete delete" ng-click="delete_log_alert(d.ID,d.RegEx,d.Type)" href="#"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
		<div class="button-container"> 
		<a class="button" ng-click="show_update_popup('','','','showlogpopup')" href="#">Add Log Alert</a> 
		</div>


    <div class="overlay heavy open" ng-show="showlogpopup">
	<a class="icosolo icon_close" ng-click="close_edit_popup('showlogpopup')"></a> 
  	<div class="message swatch">
	<div class="panel_wrapper">   
	<div class="panel rounded no_pad white">
	<div class="tabs fullwidth">
	<div class="tab">
            <div class="forms">
              <div class="inputs cf">

                <div class="row">
                  <label class="small-12 medium-2 medium-offset-2 columns">Regex:</label>
                  <div class="small-12 medium-6 pull-2 columns"><input type="text" ng-model="log_regex" ></div>
                </div>

                <div class="row">
                  <label class="small-12 medium-2 medium-offset-2 columns">Type:</label>
                  <div class="small-12 medium-6 pull-2 columns"><input type="text" ng-model="log_type" ></div>
                </div>

                <div class="small-12 medium-8 medium-offset-4 columns">
			<a class="large button" ng-click="add_edit_log()" href="#">Add Log</a>
		</div>
              </div>
            </div>   
	</div>  
	</div>
	</div>
	</div>
	</div>
     </div> 

            </div>
          </div>
        </div>
      </div>
	<!-- Log Alert setting ends here-->
	<!-- Ipload MIB setting starts here-->
      <div id="accordion-section-7" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'mib'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('mib')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">Upload MIB</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'mib'">
        <div class="row">
         <div class="section-left-content large-12 columns">  
          <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">MIBs Configuration</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>File Name</th>
                        <th>Version</th>
                        <th>File Size (Bytes)</th>
                        <th>Created date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="m in scg_user_mib">
                        <td class="number">{{$index + 1}}</td>
                        <td class="filename">{{m.filename}}</td>
                        <td class="version">{{m.version}}</td>
                        <td class="size">{{m.size}}</td>
                        <td class="created">{{m.created_time}}</td>
			<td class="actions">
				<a class="icosolo icon_edit" href="#"></a> 
				<a class="icosolo icon_download" href="#"></a> 
				<a class="icosolo icon_delete delete" href="#"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br /><div class="button-container"> <a class="button" href="#">Add Event</a> </div>
            </div>
          </div>
      </div>
    </div>
	<!-- Ipload MIB setting ends here-->

      <div id="accordion-section-8" class="accordion-section section-details-content" ng-class="{selected: innerAccordion.activeSection == 'mib'}">
        <div class="accordion-title star AccMenuTitleColor" ng-click="navigateAccordion('system')">
          <div class="section-title">
            <label> <span id="conf_vpn_controller">System Alert</span> </label>
          </div>
          <span id="conf_vpn_acc_arrow_1" class="accordion-arrow"></span> </div>
      </div>
      <div id="accordion-section-content-1" class="accordion-section-content" jg-slide-scroll="" jg-slide="innerAccordion.activeSection == 'system'">
        <div class="row">
         <div class="section-left-content large-12 columns">  
          <div class="panel_wrapper">
              <div class="panel table rounded white no_pad">
                <div class="title_heading">System Alert Configuration</div>
                <div class="table_wrapper">
                  <table class="data responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Alert Type</th>
                        <th>Option</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="s in scg_system_alert">
                        <td class="number">{{$index + 1}}</td>
                        <td class="alerttype">{{s.Name}}</td>
                        <td class="option">
 				<ul class="seggyc">
      					<li ng-class="{current:s.Status == 'ON'}" ng-click="system_alert(s.ID,s.Name,s.Status,'ON')">
						<a  href="javascript:void(0)">ON</a></li>
      					<li ng-class="{current:s.Status == 'OFF'}" ng-click="system_alert(s.ID,s.Name,s.Status,'OFF')">
						<a  href="javascript:void(0)">OFF</a></li>
				</ul>

			</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
            </div>
          </div>
      </div>
    </div>
    
  </div>
</div>
