<div id="device_container">
  <div class="main-section-content foundation-row row">
    <div class="section-header-content row collapse">
      <div class="section-header medium-6 columns">
        <h1>
          <label> <span id="reports_net_summary_header">Settings</span> </label>
        </h1>
      </div>
    </div>
    
    <div class="row">
      <div class="section-left-content columns">
      <div class="columns col1">
    <div class="graphWidget OverGraphWidget">
      <ul class="tabs throughtput_tabs" style="font-size:13px;">
        <li> <a ng-click="throughputSelected()" href="javascript:void(0)" ng-class="{selected:isThroughPutSelectedForFirstChart}" class="ToolTipContent selected" id="throughput_overview">
          <label help-id="throughput"><span>Email</span></label>
          </a> </li>
        <li> <a ng-click="clientsSelected()" href="javascript:void(0)" ng-class="{selected:isClientSelectedForFirstChart}" class="ToolTipContent" id="client_Overview">
          <label help-id="clients"><span>FTP/TFTP</span></label>
          </a> </li>
        <li> <a ng-click="ssidthroughputSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDThroughPutSelectedForFirstChart}" class="ToolTipContent" id="throughput_ssid_overview">
          <label help-id="ssid_throughput"><span>User</span></label>
          </a> </li>
        <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
          <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
           <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
           <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
           <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
           <li> <a ng-click="ssidclientsSelected()" href="javascript:void(0)" ng-class="{selected:isSSIDClientSelectedForFirstChart}" class="ToolTipContent" id="client_ssid_Overview">
          <label help-id="ssid_client_graph"><span>Swatch configuration</span></label>
          </a> </li>
          
          
      </ul>
      <div class="ThroughputClientschart"> </div>
    </div>
  </div>
      
      </div>
      
      </div>
  </div>
</div>
